*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
.courseButton{
    width: 25%;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    color:#fff;
    background-color: #4b1df2;
    border-color: #4b1df2;
}
.courseList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}