.searchHeader form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
}
.searchHeader form input{
    width: 50%;
    height: 30px;
    border: 2px solid #000000;
    border-radius: 25px;
    padding: 0 15px;
}
.searchHeader form input:hover{
    border-color: #b8eae6;
}
.searchHeader form input:focus{
    background-color: #b8eae6;
}
.imageList{
    columns: 250px 5;
    column-gap: 10px;
}
.imgListImg{
    width: 100%;
    margin-top: 10px;
}